.container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    left : 75px;
    top : 75px;
  }
  
  .container > img {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }